<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.devcorp.demo.mapper.UserMapper">
    <resultMap id="user" type="cn.devcorp.demo.pojo.User" autoMapping="true">
      <id column="id" property="id"/>
      <collection property="orderList" ofType="cn.devcorp.demo.pojo.Order" autoMapping="true">
          <id column="orderId" property="id"/>
      </collection>
    </resultMap>
    <select id="queryUserOrders" resultMap="user">
        select user.id as id, name, order.id as orderId,order_time, total, user_id from user inner join `order`
        on user.id = order.user_id
        where user.id = #{id}
    </select>
    <select id="queryUserByWhere" resultType="cn.devcorp.demo.pojo.User">
        select * from user
        <where>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            and name = #{name}
        </where>
    </select>
    <select id="queryUserByWhere2" resultType="cn.devcorp.demo.pojo.User">
        select * from user
        <where>
            name = #{name}
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
        </where>
    </select>
    <select id="selectByIdDefine" resultType="cn.devcorp.demo.pojo.User">
        select * from user where id = #{id}
    </select>
    <select id="queryUserOneByWhere" resultType="cn.devcorp.demo.pojo.User">
        select * from user
        <where>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            and name = #{name}
        </where>
    </select>
</mapper>